<div
  #overlay
  [class.modal-overlay--visible]="isOpen()"
  class="modal-overlay"
  (click)="handleOverlayClick($event)"
  role="dialog"
  aria-modal="true"
  [attr.aria-labelledby]="title() ? 'modal-title' : null"
  [attr.aria-describedby]="description() ? 'modal-description' : null"
>
  <div
    [ngClass]="['modal', 'modal--' + size(), className()]"
  >
    <div class="modal__header">
      <h2 *ngIf="title()" id="modal-title" class="modal__title">
        {{ title() }}
      </h2>

      <button
        type="button"
        class="modal__close-button"
        (click)="close()"
        aria-label="Fechar modal"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 5L5 15M5 5L15 15"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>

    <div class="modal__content">
      <p *ngIf="description()" id="modal-description" class="modal__description" [class.modal__description--hidden]="!description()">
        {{ description() }}
      </p>

      <div class="modal__body">
        <ng-content></ng-content>
      </div>
    </div>

    <div class="modal__footer">
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
</div>
