:host {
  display: inline-block;
}

.btn {
  appearance: none;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 14px;
  font: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn--primary {
  background: #357a14; //#1d4ed8;
  color: #fff;
}

.btn--secondary {
  background: #fff;
  color: #111827;
  border-color: #d1d5db;
}

.btn--danger {
  background: #dc2626;
  color: #fff;
}
